h1 {
    text-align: center;
    color: #efe;
    font-weight: 400;
}
/* 
#strict-indicator {
    text-align: center;
    color: #e74c3c;
    margin-top: -10px;
} */

.counter-container {
    width: 100px;
    height: 75px;
    background-color: #000;
    color: #efe;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#counter {
    color: #efe;
    padding-top: 20px;
    font-size: 30px;
}

.control-btn {
    /* width: 100px; */
    /* height: 50px; */
    border: 1px solid #666;
    background-color: #666;
    color: #efe;
    font-size: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
    /* position: absolute; */
    /* top: 40px; */
    /* left: 40px; */
}

.control-btn:hover {
    background-color: #2ecc71;
    cursor: pointer;
    border: none;
    box-shadow: inset 2px 2px 4px 0px rgba(0, 1, 1, 0.4);
    margin: 2px 0 0 0;
}
#reset-btn.control-btn:hover {
    background: #CC0000;
}


.btn--active {
    background-color: #2ecc71;
}

/**Main Buttons */
#btn-group {
    /* display: flex;
    flex-flow: row nowrap; */
    display: grid;
    max-height: 100vh;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
}

#btn-group > button {
    width: 400px;
    height: 50px;
    border: solid 5px black;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
}


/* BUTTON COLOUR STUFF */
/* .game-btn {
    width: 100vw;
    border: none;
    margin-left: 10px;
    display: block;
} */

#btn-group > button:hover {
    border: solid 5px whitesmoke;    
}

.btn--blue {
    background-color: #1352D1;
}

.btn--blue:hover {
    background-color: #ecad2e;
}

.btn--green {
    background-color: #198C19;
}

.btn--green:hover {
    background-color: #e673e6;
}

.btn--red {
    background-color: #c93535;
}

.btn--red:hover {
    background-color: #36caca;
}

.btn--yellow {
    background-color: #fbff14;
}

.btn--yellow:hover {
    background-color: #0400eb;
}

.btn--purple {
    background-color: #800080;
}

.btn--purple:hover {
    background-color: #7fff7f;
}

.btn--pink {
    background-color: #FFC0EB;
}

.btn--pink:hover {
    background-color: #003f14;
}

/*JS Class to be added */
/* .btn--blue__highlight {
    background-color: #ecad2e;
}

.btn--green__highlight {
    background-color: #e673e6;
}

.btn--red__highlight {
    background-color: #36caca;
}

.btn--yellow__highlight {
    background-color: #0400eb;
}

.btn--purple__highlight {
    background-color: #7fff7f;
} */

.btn--pink__highlight, .btn--purple__highlight, .btn--yellow__highlight, .btn--red__highlight, .btn--green__highlight, .btn--blue__highlight  {
    background-color: white;
}