@import url('https://fonts.googleapis.com/css?family=Monoton|Rock+Salt');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

/* CONTENT */
.content {
   /* position: fixed; */
   bottom: 0;
   background: rgba(0, 0, 0, 0);
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
   text-align: center;
   margin-top: 80vh;
   padding-bottom: 10vh;
   z-index: 10;
}
.content {
  text-align: center;
}

.link-text a{
  font-size: 35px;
  font-family: 'Rock Salt', cursive;
  /* font-weight: bold; */
  /* text-decoration: rgba(255, 255, 255, 0) wavy underline; */
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  color: rgb(236, 232, 227);
  /* border: 4mm ridge rgb(217, 157, 73, .6); */
  text-shadow:
    -1px -1px 0 rgb(40, 29, 18),
    1px -1px 0 rgb(40, 29, 18),
    -1px 1px 0 rgb(40, 29, 18),
    1px 1px 0 rgb(40, 29, 18);
}

.link-text a:hover {
  color: rgb(217, 157, 73);
  /* border: 0.5rem outset rgb(165, 125, 75, .6); */
  /* border-radius: 75px; */
  /* text-decoration: rgb(204, 27, 56) wavy underline; */
  transition: 1s;
}
/* END OF CONTENT */

/* SIDE BAR NAV */
.sidebarnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;
    background-color: rgb(40, 29, 18);
    overflow-x: hidden;
    transition: 0.75s;
    padding-top: 60px;
    text-align: center;
}

.sidebarnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(169, 115, 74);
    display: block;
    transition: 0.6s;
    text-align: center;
}

.sidebarnav a:hover {
    color: rgb(217, 157, 73);
}

.sidebarnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main-content {
    transition: margin-right 1s ease-in-out;
    padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebarnav {padding-top: 15px;}
  .sidebarnav a {font-size: 18px;}
}

#sidebarButton {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  color: rgb(236, 232, 227);
  font-size: 25px;
}

#sidebarButton:hover {
  color: rgb(217, 157, 73);
  transition: 0.75s; 
}
/* END OF SIDE BAR NAV */


