li {
    list-style: none;
}

.song-list a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.button-primary {
    font-size: 2rem;
    font-family: sans-serif;
}

button.left.button-primary {
    background-color: rgb(116, 136, 87);
    border-color: green;
}

.button-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
}